{% extends 'main.html' %}

{% block content %}
{% if not request.user.is_authenticated %}
<div style="margin-top: 30px;">
    <form action="", method="POST">
    {% csrf_token %}
    {% if error %}
        <p style="color: red;">{{error}}</p>
    {% endif %}
        <div>
            <input type="text", name="username" placeholder="username">
        </div>
        <div>
            <input type="password" name="password" placeholder="password">
        </div>
        <button type="submit">Login</button>
    </form>
    <p>Need a Account <a href="{url 'register' }">Register</a></p>
</div>
{% else %}
<p>you already logged in.would you like <a href="{% url 'logout' %}">Logout</a>
</p>
{% endif %}
{% endblock %}