<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG website</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    <h1 style="text-align:center;"><a href="{% url 'blogs' %}">Homepage</a></h1>

    {% block content %}
    
    {% endblock content %}
    
    
    
    
    
    
    
</body>
</html>